@font-face {
  font-family: 'Mont-Regular';
  src: url('../fonts/Mont-Regular.woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Mont-Bold';
  src: url('../fonts/Mont-Bold.woff2');
  font-display: swap;
}
