/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/header/header.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header_header__pI4A8 {
  position: relative;
  height: 765px;
  background-image: url(/_next/static/media/header.83bb2470.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%;
  padding: 24px 32px 0 32px;
  color: #fff;
  font-family: "Mont", sans-serif;
}
@media screen and (max-width: 720px) {
  .header_header__pI4A8 {
    height: 576px;
    background-position-x: 50%;
  }
}

.header_headerInfo__UOIgm {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  z-index: 9999;
}

.header_wrapper__Imd_Q {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 698px;
}

.header_headerNavigation__ypoSo {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 433px;
  list-style-type: none;
  padding: 0;
}
@media screen and (max-width: 920px) {
  .header_headerNavigation__ypoSo {
    display: none;
  }
}

.header_projects__n2bjw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 89px;
}

.header_button__OKTqp {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 32px;
  padding: 7px 16px 7px 24px;
  width: 201px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-family: "Mont";
  font-size: 14px;
  line-height: 20px;
}
@media screen and (max-width: 920px) {
  .header_button__OKTqp {
    display: none;
  }
}

.header_background__Sa4EB {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.header_headerTitle__rFL1k {
  position: relative;
  bottom: -28%;
  margin-top: 243px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
@media screen and (max-width: 720px) {
  .header_headerTitle__rFL1k {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.header_text__05MNZ {
  position: relative;
  font-size: 228px;
  line-height: 228px;
  font-family: "Mont-Regular", sans-serif;
  margin: 0;
  z-index: 9999;
}
@media screen and (max-width: 720px) {
  .header_text__05MNZ {
    font-size: 100px;
    line-height: 100px;
    text-align: left;
    width: 100%;
  }
}

.header_transparent__0BJAm {
  color: #fff;
  -webkit-text-stroke: 1px #fff;
  -webkit-text-fill-color: transparent;
  text-align: right;
}
@media screen and (max-width: 720px) {
  .header_transparent__0BJAm {
    margin-left: 20px;
  }
}

.header_burgerMenu__y1g_X {
  display: none;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 50%;
  min-width: 64px;
  height: 64px;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (max-width: 920px) {
  .header_burgerMenu__y1g_X {
    display: flex;
  }
}

.header_burgerMenuLine__61bpg {
  position: relative;
  width: 24px;
  border: 1px solid #fff;
}
.header_burgerMenuLine__61bpg::after {
  content: "";
  position: absolute;
  width: 24px;
  border: 1px solid #fff;
  bottom: -12px;
  left: -1px;
}
.header_burgerMenuLine__61bpg::before {
  content: "";
  position: absolute;
  width: 24px;
  border: 1px solid #fff;
  bottom: 10px;
  left: -1px;
}
/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/UI/title/title.module.scss ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.title_title__QPm1K {
  font-size: 72px;
  line-height: 79px;
  font-weight: 700;
  font-family: "Mont-Regular", sans-serif;
  color: rgb(0, 0, 0);
  max-width: 783px;
}
@media screen and (max-width: 980px) {
  .title_title__QPm1K {
    font-size: 36px;
    line-height: 40px;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/numberBlock/numberBlock.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.numberBlock_content__F_Qms {
  padding: 200px 80px 0 80px;
  font-family: "Mont-Regular", sans-serif;
}
@media screen and (max-width: 980px) {
  .numberBlock_content__F_Qms {
    padding: 80px 16px 0 16px;
  }
}

.numberBlock_textWrapper__RYcGf {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 952px;
  margin: 0 0 0 auto;
}
@media screen and (max-width: 1024px) {
  .numberBlock_textWrapper__RYcGf {
    flex-direction: column;
    align-items: center;
  }
}

.numberBlock_textWrapperText__fDoT_ {
  display: flex;
  font-size: 20px;
  line-height: 31px;
  font-weight: 500;
  max-width: 444px;
  color: rgb(70, 70, 70);
  text-align: left;
}
@media screen and (max-width: 980px) {
  .numberBlock_textWrapperText__fDoT_ {
    font-size: 16px;
    line-height: 25px;
  }
}

.numberBlock_numberWrapper__UmXLG {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}
@media screen and (max-width: 1400px) {
  .numberBlock_numberWrapper__UmXLG {
    flex-direction: column-reverse;
  }
}

.numberBlock_wrapper__Kjut6 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 952px;
}
@media screen and (max-width: 1024px) {
  .numberBlock_wrapper__Kjut6 {
    flex-direction: column;
  }
}

.numberBlock_button___VwgE {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 186px;
  border: 1px solid rgb(134, 134, 134);
  background-color: transparent;
  border-radius: 32px;
  padding: 16px 16px 16px 24px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
@media screen and (max-width: 1400px) {
  .numberBlock_button___VwgE {
    margin-top: 25px;
  }
}
@media screen and (max-width: 980px) {
  .numberBlock_button___VwgE {
    max-width: 100%;
    justify-content: center;
  }
}

.numberBlock_item__ewL1O {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1080px) {
  .numberBlock_item__ewL1O {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
}

.numberBlock_itemNumber__RRJw8 {
  font-size: 88px;
  line-height: 105px;
  font-weight: 700;
  font-family: "Mont-Bold", sans-serif;
  margin: 0;
}
@media screen and (max-width: 980px) {
  .numberBlock_itemNumber__RRJw8 {
    display: inline-block;
    font-size: 48px;
    line-height: 53px;
    min-width: 167px;
    text-align: left;
  }
}

.numberBlock_itemText__5oQmE {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.numberBlock_transparentText__OPicZ {
  color: rgb(0, 0, 0);
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  -webkit-text-fill-color: transparent;
  text-align: right;
}
@media screen and (max-width: 980px) {
  .numberBlock_transparentText__OPicZ {
    text-align: left;
  }
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[9].use[5]!./src/app/components/superiorityBlock/superiorityBlock.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.superiorityBlock_content__eBlCD {
  padding: 200px 80px 0 80px;
  font-family: "Mont-Regular", sans-serif;
}
@media screen and (max-width: 980px) {
  .superiorityBlock_content__eBlCD {
    padding: 80px 16px 0 16px;
  }
}

.superiorityBlock_list__550DP {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
}

.superiorityBlock_item__g2Sfi {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 384px;
  margin-bottom: 64px;
}
@media screen and (max-width: 720px) {
  .superiorityBlock_item__g2Sfi {
    flex-direction: row;
    margin-bottom: 8px;
  }
}

.superiorityBlock_itemTitle__xGFfh {
  text-align: center;
  font-size: 20px;
  line-height: 31px;
  font-weight: 600;
}
@media screen and (max-width: 720px) {
  .superiorityBlock_itemTitle__xGFfh {
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    width: 150px;
    text-align: left;
  }
}

.superiorityBlock_itemText__agDly {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}
@media screen and (max-width: 720px) {
  .superiorityBlock_itemText__agDly {
    display: none;
  }
}

@media screen and (max-width: 720px) {
  .superiorityBlock_image__41gAS {
    width: 80px;
    height: 80px;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[11].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[11].oneOf[13].use[5]!./src/assest/scss/main.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
body {
  padding: 0;
  margin: 0;
}

.main {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}
